/* lokesh css code */
* {
    font-family: 'Roboto', sans-serif;
    
}
/* container for landing page */
.container {
    width: 100%;
    height: 680px;
    background-image: url("https://wallpaperaccess.com/full/1288329.jpg");
}
.clear
{
    clear:both;
}
/* .navigation class for navigation bar */
.navigation {
    width: 100%;
    height: 80px;
    position: fixed;
    /* background-color: rgb(192, 192, 174); */
    /* background: transparent; */
}
.navigation > img {
    width: 100px;
    cursor: pointer;
    margin-left: 50px;
}
.navigation > a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    float: right;
    margin: 40px 15px;
}
.navigation > button {
    border: 1px solid white;
    background: transparent;
    border-radius: 3px;
    padding: 0px 30px;
    font-size: 18px;
    height: 40px;
    float: right;
    margin: 30px 60px 15px 20px;
    cursor: pointer;
    color: white;
}
.navigation > button:hover {
    background-color:rgb(19, 190, 119);
    border-color: rgb(19, 190, 119);
}
.navigation > a:hover {
    color: rgb(161, 159, 159);
}

/* welcome part of landing page  */
.welcome {
    color: white;
    float: left;
    margin: 200px 40px;
    width: fit-content;
}
.welcome > h1 {
    float: left; 
    font-size: 45px;
    margin: 5px;
}
.welcome > p {
    float: left;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    margin: 3px;
    padding-left: 10px;
}
.input {
    width: 650px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}
.input > img {
    float: left;
    width: 20px;
    padding: 10px;
}
.input > p {
    margin: 10px;
    color: rgb(156, 155, 155);
    float: left;
}
.search {
    background-color: rgb(19, 190, 119);
    color: white;
    float: right;
    width: 130px;
    height: 49px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border: 0.5px solid rgb(19, 190, 119);
    border-radius:0px 5px 5px 0px;

}
.search > p {
    margin: 12px ;
}

/* buttons below search bar  */
.popular {
    float: left;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.popular > h3 {
    float: left;
    margin-top: 0px;
    color: white;
    font-size: 15px;
}

.popular > button {
    float: left;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 13px;
    background: transparent;
    margin: 0px 8px;
    cursor: pointer;
    padding: 3px 10px;
    color: white;
}
.popular > button:hover {
    background-color: white;
    color: rgb(75, 74, 74);
}
.get_started {
    width: fit fit-content;
    height: 400px;
    padding: 4px 12px;

}
.get_started {
    width: 100%;
    height: 420px;
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");
    background-size: 100%;
    margin: 30px;
}
/* start green button  */
.start_btn {
    background-color: rgb(19, 190, 119);
    clear: both;
    color: white;
    float: left;
    margin: 30px auto;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px;   
}  
.start_btn > p {
    margin: 10px 30px;
} 
.start_btn:hover {
    background-color: rgb(14, 151, 94);
}
.start {
    margin:120px 100px ;
}
.search:hover {
    background-color: rgb(10, 128, 79);
    border-color:rgb(10, 128, 79) ;
}

 /* fiverr business section  */
.business {
    background-color: rgb(9, 9, 104);
    height: 600px;
    width: 100%;
    color: white;
}
.left_part {
    width: 50%;
}
.right_part {
    display: flex;
    padding-top: 8%;
    padding-left: 5%;
    /* justify-content: right; */
    /* width: 45%; */
 }
 .right_part > img {
    float: right;
    width: 650px;
}
.blue_top{
    float: left;
    margin: 20px 50px 10px;
}
#new {
    float: left;
    background-color: rgb(92, 92, 218);
    width: fit-content;
    border-radius: 20px;
    padding: 2px 10px;
    margin-top: 35px;
    font-size: small;
}
.blue_top > h1 {
     float: left;
}
.blue_top > p {
    float: left;
    font-size: 30px;
    margin: 22px 5px;
}
.blue_mid {
    clear: both;
    float: left;
    font-size: 25px;
    margin: 0px 50px;
    line-height: 25px;
}
.blue_mid > h2 {
    float: left; 
    font-size: 30px;
    margin: 5px;
}
.blue_mid > p{
    float: left;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin: 3px 10px;
}
.text {
    float: left;
    color: white;
    font-size: 20px;
    margin: 5px 50px 0px;
}
.list {
    float: left;
    color: white;
    margin: 5px 50px;
}
.list > img {
    float: left;
    padding: 5px;
    width: 20px;
}
.list > p {
    float: left;
    font-size: 18px;
    margin: 5px 10px;
    
}
.explore_btn {
    margin-left: 80px;
}
.explore_btn:hover {
    background-color: rgb(14, 151, 94);
}
.foot_bar > img {
    float: left;
    width: 80px;
    padding:2px  20px;
    cursor: pointer;
 }
 .foot_bar >p:nth-of-type(1) {
     float: left;
     color: grey;
     cursor: pointer;
     font-size: 16px;
 }
 .foot_bar >p:nth-of-type(2) {
     float: left;
     font-size: 15px;
     color: rgb(155, 153, 153);
     margin-left: 35px;
 }
 .social > img {
     width: 20px;
     float: right;
     padding: 10px 20px ;
 }
 .social > p{
     float: right;
     color: grey;
     font-size: 15px;
     margin: 8px 25px;
 }
 .social {
     cursor: pointer;
 }

 /* rinish css code */

#container1{
    max-width: 100% ;
    margin:auto;
    padding: .8%;
}
.flex{
    display: flex;
    justify-content: space-between ;
    width: 100% ;
    background-color: rgb(245, 245, 245);
    color: grey;
}

h4{
    font-weight: 10px;
    padding: 1%;
    font-size: 30px;
    line-height: 30px;
    color:  rgba(37, 37, 37, 0.836);
}
.col1{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}
.img-box1_1{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png");
    height: 360px;
    width: 240px;
}
.img-box1_2{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/ae11e2d45410b0eded7fba0e46b09dbd-1598561917003/wordpress-2x.png");
    width: 240px;
}
.img-box1_3{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741669/voiceover-2x.png");
    width: 240px;
}
.img-box1_4{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741663/animated-explainer-2x.png");
    width: 240px;
}
.img-box1_5{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741667/social-2x.png");
    width: 240px;
}
.text_1{
    margin: auto;
    padding: 5%;
}
#container2{
    width: 100% ;
    margin:10px;
    padding: 1%;
    background-color: rgb(231, 231, 231);
    height: 500px;
}
#container2 > div{
    color: rgb(112, 111, 111);
}
h4{
    font-size: 30px;
    line-height: 30px;
    color:  rgba(58, 55, 55, 0.836);
}
.col2{
    
    float: left;
}
.img-box2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    border: 1px ;
}

.img-box2 > img{
    width: 95%;
    height:250px;
}
.smallImg > img{
   border-radius: 50%;
   float: left;
   margin: auto;

}
#container3{
    width: 100% ;
    margin:10px;
    padding: 1%;
    background-color: rgb(255, 250, 250);
    height: 500px;
}
#container3 > div{
    color: rgb(112, 111, 111);
    
}
h4{
    font-size:xx-large;
    font-weight: 20px;
    font-size: 30px;
    line-height: 30px;
    color:  rgba(39, 38, 38, 0.836);
}
.col3{
    display: flex;
    justify-content: space-around;
    
}
.img-box3{
    border: 1px ;
}

.img-box3 > img{
    width: 90%;
    height:220px;
}
h3{
    font-size:20px;
    color: black;
}
h7{
    margin-top:5px;
    font-size:18px;
    }

    .elem {
        border: solid white;
        width: 100%;
        background-color: rgb(222, 244, 252);
      }
  
      .right-elem {
  
  
        float: right;
        height: 600px;
        padding: 2%;
        margin: 100px;
  
  
      }
  
  
      .left-elem {
        margin: 80px;
      }
  

  
      .l1 {
        width: 70px;
        padding: 10px 100px;
      }
  
      .l2 {
        width: 70px;
        padding: 10px 120px;
      }
  
      .l3 {
        width: 70px;
        padding: 10px 120px;
      }
  
      .l4 {
        width: 70px;
        padding: 10px 120px;
      }
  
      .l5 {
        width: 70px;
        padding: 10px 100px;
  
      }
  
      .l6 {
        width: 70px;
        padding: 10px 120px;
      }
  
      .l7 {
        width: 70px;
        padding: 10px 120px;
      }
  
      .l8 {
        width: 70px;
        padding: 10px 120px;
  
      }
     .logo { 
        width: 100%;;  
       text-align: center;
  }
  .row_2 {
    display: flex;
    padding: 3%;
  }
  
      .row_3 {
        display: flex;
        padding: 3%;
      }
  
      .left-element {

        margin-top: 10px;
        float: left;
        padding: 20px;
      }
      .cont {
          width: 100%;
      }
  
      .para>p {
        margin-top: 10px;
        float: right;
        font-size: 25px;
        padding: 20px 100px 0px 0px;
        font-style: italic;
      }
  
     .col-5> dl {
        
        font-size: 17px;
  
      }
  
      .col-5 {
        display: inline-block;
       vertical-align: top;
       padding: 3%;
    
      }
  
      .row {
        display: inline-block;
        padding: 1%;
        width: 100%;
       
}
    
  
    
