
* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
body {
    margin: 0px;
     font-family: 'Lato', sans-serif;
}
/* container for landing page */
.container {
    width: 100%;
    height: 900px;
    background-image: url("https://wallpaperaccess.com/full/1288329.jpg");
}

/* .navigation class for navigation bar */
.navigation {
    width: 100%;
    background-color: rgb(192, 192, 174);
    height: 100px;
    position: fixed;
    background: transparent;
}
.navigation > img {
    width: 150px;
    cursor: pointer;
    margin-left: 50px;
}
.navigation > a {
    font-size: 23px;
    text-decoration: none;
    color: white;
    float: right;
    margin: 40px 15px;
}
.navigation > button {
    border: 1px solid white;
    background: transparent;
    border-radius: 3px;
    padding: 0px 30px;
    font-size: 22px;
    height: 40px;
    float: right;
    margin: 35px 60px 15px 20px;
    cursor: pointer;
}

/* welcome part of landing page  */
.welcome {
    float: left;
    margin: 280px 40px;
    width: fit-content;
}
.welcome > h1 {
    float: left; 
    font-size: 60px;
    margin: 5px;
}
.welcome > p {
    float: left;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin: 3px;
    padding-left: 10px;
}
.input {
    width: 680px;
    height: 60px;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    float: left;
    font-size: 22px;
    margin-top: 20px;
}
.input > p {
    margin: 12px;
    color: grey;
}
.search {
    background-color: rgb(19, 190, 119);
    color: white;
    float: left;
    width: 130px;
    height: 60px;
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

}
.search > p {
    margin: 12px auto;
}

/* buttons below search bar  */
.popular {
    float: left;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    
    

}
.popular > h4 {
    float: left;
    margin-top: 0px;
    color: white;
}

.popular > button {
    float: left;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 18px;
    background: transparent;
    margin: 0px 10px;
    cursor: pointer;
    padding: 4px 12px;

}
.get_started {
    width: 100%;
    height: 420px;
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");
    background-size: 100%;
    margin: 30px;
}
/* start green button  */
.start_btn {
    background-color: rgb(19, 190, 119);
    clear: both;
    color: white;
    float: left;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px;   
}  
.start_btn > p {
    margin: 10px 30px;
} 
.start {
    margin:120px 100px ;
}

.business {
    background-color: rgb(9, 9, 104);
    height: 800px;
    width: 100%;
    color: white;
}
.left_part {
    width: 50%;
}
.right_part {
    display: flex;
  justify-content: right;
  margin: 30px;
  padding-top: 8%;
    width: 45%;
    
     
 }
 .right_part > img {
    float: right;
    width: 650px;
}  

.blue_top{
    float: left;
    margin: 70px 50px 10px;
}
#new {
    float: left;
    background-color: rgb(92, 92, 218);
    width: fit-content;
    border-radius: 20px;
    padding: 2px 15px;
    margin-top: 35px;
    font-size: small;
}
.blue_top > h1 {
     float: left;
}
.blue_top > p {
    float: left;
    font-size: 35px;
    margin: 18px 5px;
}
.blue_mid {
    clear: both;
    float: left;
    font-size: 40px;
    margin: 0px 50px;
}
.blue_mid > h2 {
    float: left; 
    font-size: 45px;
    margin: 5px;
}
.blue_mid > p{
    float: left;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    margin: 3px 10px;
}
.text {
    float: left;
    color: white;
    font-size: 25px;
    margin: 5px 50px 0px;
}
.list {
    float: left;
    color: white;
    margin: 5px 50px;
}
.list > img {
    float: left;
    width: 30px;
}
.list > p {
    float: left;
    font-size: 20px;
    margin: 5px 10px;
    
}
.explore_btn {
    margin: 50px;
}

#container1{
    max-width: 100% ;
    margin:auto;
    padding: .8%;
}
.flex{
    display: flex;
    justify-content: space-between ;
    width: 100% ;
    background-color: rgb(245, 245, 245);
    color: grey;
}

h4{
    font-weight: 10px;
    padding: 1%;
    font-size: 30px;
    line-height: 30px;
    color:  rgba(37, 37, 37, 0.836);
}
.col1{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}
.img-box1_1{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png");
    height: 360px;
    width: 240px;
}
.img-box1_2{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/ae11e2d45410b0eded7fba0e46b09dbd-1598561917003/wordpress-2x.png");
    width: 240px;
}
.img-box1_3{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741669/voiceover-2x.png");
    width: 240px;
}
.img-box1_4{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741663/animated-explainer-2x.png");
    width: 240px;
}
.img-box1_5{
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741667/social-2x.png");
    width: 240px;
}
.text_1{
    margin: auto;
    padding: 5%;
}
#container2{
    width: 97% ;
    margin:10px;
    padding: 1%;
    background-color: rgb(231, 231, 231);
    height: 500px;
}
#container2 > div{
    color: rgb(112, 111, 111);
}
h4{
    font-size: 30px;
    line-height: 30px;
    color:  rgba(58, 55, 55, 0.836);
}
.col2{
    
    float: left;
}
.img-box2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    border: 1px ;
}

.img-box2 > img{
    width: 95%;
    height:250px;
}
.smallImg > img{
   border-radius: 50%;
   float: left;
   margin: auto;

}
#container3{
    width: 97% ;
    margin:10px;
    padding: 1%;
    background-color: rgb(255, 250, 250);
    height: 500px;
}
#container3 > div{
    color: rgb(112, 111, 111);
}
h4{
    font-size:xx-large;
    font-weight: 20px;
    font-size: 30px;
    line-height: 30px;
    color:  rgba(39, 38, 38, 0.836);
}
.col3{
    display: flex;
    justify-content: space-around;
    
}
.img-box3{
    border: 1px ;
}

.img-box3 > img{
    width: 90%;
    height:220px;
}
h3{
    font-size:20px;
    color: black;
}
h7{
    margin-top:5px;
    font-size:18px;
    }

